@import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
	font-family: montserrat;
	src: url('./fonts/Futura\ Bold/Futura Bold.ttf');
	font-family: montserrat-extraBold;
	src: url('./fonts/Futura\ Bold/Futura Bold.ttf');
	font-family: GT-america-bold;
	src: url('./fonts/GT-America/GT-America-Compressed-Bold-Trial.otf');
	font-family: GT-america-black;
	src: url('./fonts/GT-America/GT-America-Standard-Bold-Trial.otf');
	font-family: Druk wide super;
	src: url('./fonts/DrukText-Super-Trial.otf');
	font-family: delirium;
	src: url('./fonts/fty-delirium-ncv-font/DeliriumNcv-Vm5e.ttf');
}





.footer-container {
	/* background-color: #000; */
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.logo-container {
	padding-top: 2rem;
	/* font-family: Druk wide super; */
	font-size: 2rem;
	transform-origin: bottom;
	/* animation: grow 1s cubic-bezier(0.175, 0.885, 0.17, 0.99); */
}

.logo-style {
	/* position: fixed;
	bottom: 50%;
	left: 2%; */
	font-family: Anton, Arial, sans-serif;
	font-weight: 900;
	font-size: 3vw;
	cursor: pointer;
	line-height: 0.9;
}


.description {
	width: 30vw;
	font-size: 1.6rem;
	font-family: La Fabrique Pro,Helvetica,Arial,sans-serif;
	line-height: 1;
	letter-spacing: 0;
	font-weight: 400;

}

.switch-color {
	width: 140px;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
	align-self: flex-end;
}

.eye-container {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 80%;
	border-radius: 200em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.eye {
	background-color: #000;
	width:  85px;
	height: 85px;
	border-radius: 50%;
}



.social-media-icon {
	width: 20px;
	cursor: pointer;
}
.social-media-container {
	/* display: none; */
	font-family: Anton, Arial, sans-serif;
	/* font-weight: 200; */
	/* font-size: 0.9rem;; */
	transform-origin: bottom;
	animation: grow 1s cubic-bezier(0.175, 0.885, 0.17, 0.99);
}


.translate {
	animation: grow 2s ease-in-out ;
}

@keyFrames grow {
	from {
		transform: translateY(400%);
	}
	to {
		transform: translateY(0);
	}
}

@media (max-width: 480px) {
	.footer-container {
		padding: 0.5rem;
	}
	.logo-container {
		font-size: 0.8rem;
		transition: all 0.3s ease-out;
	}
	.social-media-container {
		display: none;
		font-size: 0.5rem;
		transition: all 0.3s ease-out;
	}
}

@media (max-width: 280px) {
	.footer-container {
		display: none;
	}
}