

@font-face {
	font-family: montserrat;
	src: url('./fonts/Futura\ Bold/Futura Bold.ttf');
	font-family: montserrat-extraBold;
	src: url('./fonts/Futura\ Bold/Futura Bold.ttf');
	font-family: GT-america-bold;
	src: url('./fonts/GT-America/GT-America-Compressed-Bold-Trial.otf');
	font-family: GT-america-black;
	src: url('./fonts/GT-America/GT-America-Standard-Bold-Trial.otf');
}


.logo {
	color: #ffffff;
	position: absolute;
	bottom: 3%;
	left:   3%;
	cursor: pointer;
	font-family:  GT-america-black;
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	z-index: 5;
}
.logo-first-word {
	margin-bottom: -25px;
}

.switch-color {
	width: 140px;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
	align-self: flex-end;
}
.eye-container {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 80%;
	border-radius: 200em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}



.eye {
	background-color: #000;
	width:  85px;
	height: 85px;
	border-radius: 50%;
}

.logo-second-word {
	display: flex;
	flex-direction: row;
}

.typo {
	color: #ffffff;
	z-index: 2;
	position: absolute;
	bottom: 2.5%;
	right:  3%;
	font-family:  GT-america-black;
	font-size: 0.7rem;;
}