

@font-face {
	font-family: montserrat;
	src: url('./fonts/montserrat/Montserrat-Black.ttf');
	font-family: montserrat-extraBold;
	src: url('./fonts/montserrat/Montserrat-ExtraBold.ttf');
}


.logo {
	color: #000;
	position: absolute;
	bottom: 4%;
	left:   4%;
	cursor: pointer;
	font-family: montserrat-extraBold;
	font-size: 4rem;
	display: flex;
	flex-direction: column;
}
.logo-first-word {
	margin-bottom: -25px;
}

.switch-color {
	width: 140px;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: red; */
	align-self: flex-end;
}
.eye-container {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 80%;
	border-radius: 200em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}



.eye {
	background-color: #000;
	width:  85px;
	height: 85px;
	border-radius: 50%;
}

.logo-second-word {
	display: flex;
	flex-direction: row;
}

.typo {
	position: absolute;
	bottom: 4%;
	right:  3%;
}